* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #171717;

}

body>section {
    margin: 100px auto;
    
}


button {
    background-color: transparent;
}

h1 {
    margin: 0px 0px 10px 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav {
    height: 72px;
    background: #171717 
}

.content-container {
    max-width: 1080px;
    background: #171717;

}

section > .content-container:nth-child(2) {
    border-top: 3px solid #2E2E2E;;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-centered {
    align-items: center ;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-around;
}

.nav-bar-wrapper:nth-child(2) {
     display: flex;
     justify-content: space-between;   

}

/* ==========LEFT SIDE========== */
.left-side {
   gap: 117px;
}

.left-side > div:nth-child(2) {
    gap: 39px;
}


#web-logo {
    width: auto;
    height: 2.31rem;
    cursor: pointer;
}

.web-logo-container {
    display: flex;
    align-items: center;
}

.nav-links-container > a, div > a {
    text-decoration: none;
    width: 71px;
    height: 23px;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #FFFFFF;    

}

#menu-icon {
    width: 12px;
    height: 8px;
    margin-left: 8px;
    cursor: pointer;
}

/* ==========RIGHT SIDE========== */
.nav-bar-button {
    background-color: #171717 ;
    border:none;
}

.nav-bar-button > button:first-child {  
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
}

.nav-bar-button > button:last-child {
    color:#FE8888;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
}


#menu-button {
    width: 33px;
    height: 26.23px;    
}

.menu-button {
    display: none;
}

/*===============================
=========  HIDDEN MENU  =======
===============================*/


/* NEREZOLVAT */


/* ==========SECTION 1========== */
.column {
    display: flex;
    flex-direction: column;
}

.column-centered {
    align-items: center;
}

.action-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 1080px;
    
}


.wrapper {
    display: flex;
    justify-content: center;
}

#relative-position {
    position: relative;
}

#first-page-backround {
    background: rgb(23,23,23);
    box-sizing: content-box;
    border-width: 5px 25px 0px 25px;
    border-style: solid;
    border-image: linear-gradient(to right bottom,#FE8888,#171717 ,#171717);
    border-image-slice: 1;
}

#header-title {
    font-family: 'Articulat CF';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 96px;
    letter-spacing: -5px;
    color: #FFFFFF;
    padding: 0px 40px 0px 0px;
    position: relative;
}

#header-title-gradient {
    font-family: 'Articulat CF';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 96px;
    letter-spacing: -5px;
    padding: 0px 40px 0px 0px;
    
    background: linear-gradient(270deg, #8066FF 60.16%, #FE8888 97.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-paragraph {
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.0909091px;

    color: #FFFFFF;
}
.header-paragraph:first-of-type{
    width: 60%;
}

.secundary-button {
    font-family: 'Articulat CF';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    border: 3px solid #FE8888;
    border-radius: 8px;
    color: white;
    margin: 8px 86px 8px 42px;
    white-space:nowrap;
    cursor: pointer;
    
}

.secundary-button:first-of-type {
    width: 180px;
    height: 52px;
}

.secundary-button:active{
    font-family: 'Articulat CF';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    border: 3px solid #8167FF;
    border-radius: 8px;
    color: white;
    margin: 8px 86px 8px 42px;
    white-space:nowrap;
    cursor: pointer;
}
/* ==========/SECTION 1========== */

/* ========== SECTION 2========== */

.content-left-col,
.content-right-col,
.content-middle-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-left-col,
.content-right-col,
.content-middle-col:nth{
    background-color: red;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.subtitle-action-icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.second-main-title {
    font-family: 'Articulat CF';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 42px;
    letter-spacing: -2px;
    margin: 5px 120px 5px 0px;

    color: #FFFFFF;
}

.second-main-title > span {
    font-family: 'Articulat CF';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 42px;
    /* identical to box height, or 95% */

    letter-spacing: -2px;

    background: linear-gradient(270deg, #8066FF 60.16%, #FE8888 97.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.dashboard {
    max-width: 608px;
    max-height: 340px;
    margin-bottom: 34px;
}

.action-icon-s2{
    width: 20px;
    height: 20px;
    margin-top: 34px;
}

.s2-col-text-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;    
    color: #FFFFFF;
    margin: 6px;
}

.s2-col-text{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 6px;
}

.space-between {
    justify-content: space-between;
}
/* ==========/SECTION 2========== */

/* ========== SECTION 3========== */

.s2-col-text > span {
    color: #FE8888;
}


.list-buttons {
    width: fit-content;
    height: 28px;

    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

    color: #8b8b8b;
    border: none;
}

.list-buttons:focus {
    color: #FE8888;
    border-top: 3px solid #FE8888;
}
.s3-image-container {
    max-width: 1080px;
    max-height: 380px;
    margin-top: 20px;
}

.s3-image{
    width: 100%;
    height: 100%;
}

/* ==========/SECTION 3========== */


/* ==========/SECTION 5========== */

.quest-logo {
    width: 151.5px;
    height: 44px;   
}

.anima-logo {
    width: 115.22px;
    height: 34px;
}

.bubble-logo {
    margin-left: 20px;
    width: 107px;
    height: 24px;
}

.table-font {
    font-family: Visby CF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.09090909361839294px;
    text-align: left;
    color: #FFFFFF;

}

.checkmark-icon {
    width: 40px;
    height: 40px;
}

.table-style {
    margin-top: 24px;
    border-top: 2px solid #585858;
    border-collapse: collapse;
    max-width: 1080px;
    width: 100%;

}

.no-border-top {
    border-top:2px solid #171717;
}

table * tr {
    border-top: 2px solid #585858;
}

tr, th ,td {
    padding: 10px 20px;
}

tr > td:first-child {
    padding-right: 70px;
    width: 241px;
    height: 48px;
}

tr > td:not(:first-child){
    padding-left: 75px ;
}


/* ==========/SECTION 5========== */